

  
  .side-nav {
    border: 3px dashed;
      grid-area:nav;
  }
  
  .news-feed {
      grid-area:feed;
      height: calc(100vh - var(--header));
  }
  
  .services {
    border: 3px dashed; 
      grid-area:services;
  }
  
  .post {
    background: white;
    border: solid 1px #ccc;
    padding: 10px;
    overflow:hidden;
  }
  
  .post__header {
      display:flex;
      align-items:center;
      margin-bottom:1rem;
  }
  
    .post__info {
        margin-left:10px;
        font-size: 2rem;
        font-weight: 500;
    }
        .post__info a span { 
        
        display: block;
        }
    
  
  .post__engage{
      padding:10px 0;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .post__content img {
    
      width: 100%;
    
  }
  
  .comment {
      margin: 0 -10px -10px;
      padding:10px;
      display:flex;
    background: #eee; 
    border-top: solid 1px #ccc;
  }
   .comment input {
      width: 100%;
      margin-left: 10px;
      border-radius: 20px;
      border: solid 1px #ccc;
      padding: 10px 20px;
    
  }
  .post__header img{
    overflow-clip-margin: content-box;

  }
  .likes{
    display:flex;
    align-items:center;
    margin-bottom:1rem;
  }
.message{
  color:black;
}
.enviou{
justify-content:end;
}
