@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    justify-content: flex-start;
    grid-area: cabecalho;
    color: white;
    display: flex;
    padding-bottom: 10px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
    background: #5B3D99;
}

.cabecalho h1 {
    margin: 0px;
    font-weight: 500;
    font-size: 2.8rem;
}

.cabecalhoMenu {
    width: 25%;
    height: 100vh;
    background: #2f2841;
    z-index: 1;
    display: none;
    left: 0;
    position: absolute;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
}

.btnMenu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal {
    grid-area: principal;

    background-color: #ffffff;
    padding: 20px;
/* grid-template-rows:50%;
grid-template-columns:50%;
grid-template-areas: 
"banners"
"comunidade"
"itens"
"sugestao"; */

display: flex;
flex-direction: column;
}

.rodape {
    grid-area: rodape;
    background: #2f2841;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: #444;
    font-weight: 500;
}

.rodape h4 {
    padding: 0px 20px;
}


.formulario {
    background-color: #CFB8FF;
    height: 25em;
    width: 25em;
    padding-top: 40px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
}

.esqueciSenha {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.principal a{
    text-decoration: none;
}
.esqueciSenha a {
    text-decoration: none;
    width: 12em;
    color: #5B3D99;
    border-radius: 10px;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}


.moduloBotao {
    text-align: center;
    padding: 20px 0;

}

.moduloBotao input {
    height: 30px;
    border: 0px;
    width: 100px;
    cursor: pointer;
}

.botaoCadastro {
    text-align: center;
}

.botaoCadastro a {
    text-decoration: none;
}

.active {
    display: block;
}

.formulario h2 {
    text-align: center;
    color: #5B3D99;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0px;
}

.contentMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.contentMenu li{
    margin: 20px 0px;
}

.contentMenu li a{
    border: none;

    padding: 10px 80px; 
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.contentMenu li a:hover{
    background: #5B3D99;

}
.contentMenu ul{
    width: auto;
}
.banners{
   /*  grid-area: banners; */
   display: flex;
width: 50%;
height:50%;
}
.comunidade{
  /*   grid-area: comunidade; */
order: 2;
    align-items: right;
    display: flex;
    width: 50%;
    height:50%;

    flex-direction: column;

}
.sugestao{
    width: 50%;
height:50%;
display: flex;
flex-direction: column;

}
.itens{
    flex-direction: column;

    order:3;
    width: 50%;
    height:50%;
  /*   grid-area: itens; */
  display: flex;
justify-content: bottom ;
    align-items: bottom;
}
/* css para a tabela na página itens.php */
table th,td{
    border: 1px solid #5B3D99;
}
th,td{
    padding: 5px 10px;
}
#sub_adicomprar{
    padding: 10px;
    border-radius:9px;
    cursor: pointer;
    background: rgb(132, 83, 187);
    border-color:#5B3D99 ;
    color: white;
    width: 100px;
}
th{
    background-color: #5B3D99;
    color:white;
}
